@use 'variables' as v; 

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
  
body {
    font-family: v.$fuentePrincipal;
    font-size: 1.6rem;
    background-color: v.$blanco;
}
img {
    max-width: 100%;
    display: block;
}
ul {
    list-style: none;
}
.color-secundario{
    color: v.$secundario;
    text-decoration: underline;
}

.boton-flotante {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
  
.boton-flotante a {
    background-color: #abe693;
    color: v.$blanco;
    text-align: center;
    padding: 15px 20px;
    display: block;
    border-radius: 60%;
}