// Fuentes
$fuentePrincipal: 'Poppins', sans-serif;
$fuenteSecundaria: 'Arima', cursive;
$fuenteTerciaria: 'Satisfy', cursive;

// Tamaño de Media Queries
$telefonoMin: 380px;
$telefono: 495px;
$tablet: 768px;
$desktop: 1025px;
$desktopxl: 1200px;

// Colores
$primario: #283891;
$secundario: #B40202;
$blanco: #FFFFFF;
$gris: #eeefed;