@use '../base/variables' as v;
@use '../base/mixins' as m;

.header{
    display: flex;
    flex-direction: column;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-width: 100%;
    background: v.$blanco;
    position: relative;
    &__box{
        padding: 2rem;
    }
    &__redes{
        display: flex;
        flex-direction: row;
        align-items: center;
        &--enlace{
            margin: 0 0.8rem;
            @include m.tablet{
                margin: 0 2rem;
            }
            & ion-icon{
                color: #abe693;
                width: 5rem;
                height: 5rem;
            }
        }
    }
}

.logo{
    min-width: 35%;
    max-width: 35%;
    min-height: 4rem;
    &___imagen{
        height: 4rem;
    }
}